#tale {
    display: flex;
    flex-direction: column;
    }
body > section {
    display: flex;
    flex-direction: row;
}
aside {
    display: flex;
flex-direction: column;
    width: 33%;
    padding-right: 8%;
    padding-left: 2%;
    background-color: PaleTurquoise ;
    justify-content: flex-start;
    float: left;
}
section > section {
    display: flex;
    flex-direction: column;
    width: 100%;
}
section, aside, nav, h1, div {
    border: none;
    padding: 1em;
 margin: 0;
 padding: 0;
}
#buttons {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-evenly;
    border: solid 1px black;
    border-radius: 5px;
}
.button {
    border: solid 1px black;
    border-radius: 5px;
    border-width: 100%;
}
#discussiontext {
    display: none;
}
#storytext {
    padding: 50%;
    
}