/* Linting: doesn't like ID declarations and says beware of borders.*/
/* Should I be weary of the way I have multiple font-size declarations? */
/* Is it a problem that I have multple h1 and h2 definitions if they're in different places */
#wrapper {
    display: flex;
    flex-direction: row;
}
#sidebar {
    display: flex;
    flex-direction: column;
    width: 33%;
    padding-right: 8%;
    padding-left: 2%;
    background-color: PaleTurquoise;
    justify-content: flex-start;
    float: left;
}
#textdisc {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    background-color: PaleTurquoise;
    align-items: flex-start;
    position: absolute;
    width: 100%;
}
.list {
    display: flex;
    flex-direction: column;
}
.list ul li {
    font-size: 15px;
    display: list-item;
    list-style-type: circle;
}
div.story {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    padding: 0 10px;
    overflow: hidden;
    text-align: center;

}
#bod {
    padding: 10px;
    position: relative;
}

#defpg {
    margin-left: 10%;
    margin-right: 10%;
}

header {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 700
}
#nav {
   display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-self: baseline;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    padding: 0 10px;
    overflow: hidden;
    background-color: lightcyan;
    text-align: center;
    border-top-color: white;
    border: 2px outset cyan
}
#nav ul {
    margin: auto;
    display: flex;
    align-self: center;
}
#nav ul li {
    display: flex;
    align-self: center;

    list-style-type: none;
}
li {
    display: block;
    font-size: 20px;
    float: left;
    position: relative;
}
li:hover {
    cursor: pointer;
}
#nav > a {
    color: black;
}
#nav > a:visited {
    color: black
}
/* why doesn't the above work? The links still turn gray */
#homepg {
    margin: 0;
    padding: 0;
}
#navbox {
    display: flex;
    flex-direction: row;
}
#navbox > a {
    color: black;
    background-color: white;
    position: relative;
    display: block;
    width: 33%;
    height: 100%;
    text-align: center;
    border: 1px black solid;
    margin: 0 .25em;
    border-radius: 1em;
    text-decoration: none;
}
#navbox > a:hover {
    background-color: lightgray;
}
#navbox > a > p {
    text-indent: 0;
}

a:link {
    color: DarkBlue;
    text-decoration: none;
}
a:visited {
    color: black
}
a:hover {
    color: Aqua
}
a:active {
    color: BlueViolet
}

#storytable {
    display: flex;
    justify-content: center;
}
.stories table {
    border-style: hidden;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 1px solid black;
    display: inline-block;
    margin: auto
}
.stories tr:hover {
    background-color: DarkTurquoise
}
.stories th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: center
}
optgroup {
    display: inline-block;
    border: 2px solid Moccasin
}
body {
    background-color: azure;
    padding: 0;
    margin: 0;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 26px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
p {
    font-size: 15px;
    text-indent: 20px;
}
section p {
    text-align: left;
    padding: 0
}
#homebody {
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    margin-top: 2%;
    margin-bottom: 0;
    text-align: center;
}

#aboutmenu {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-self: baseline;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    overflow: hidden;
    text-align: center;
    border: gray 1px solid;

}
#nav ul {
    margin: auto;
    display: flex;
    align-self: center;
}
#nav ul li {
    display: flex;
    align-self: center;
    list-style-type: none;
}
li {
    display: block;
    font-size: 20px;
    float: left;
    position: relative;
}
li:hover {
    cursor: pointer;
}
#header {
    text-align: center;
    margin: 0;

}
#tale {
    display: flex;
    flex-direction: column;
}
body > section {
    display: flex;
    flex-direction: row;
}
#aside {
    display: flex;
    flex-direction: column;
    width: 33%;
    padding-right: 8%;
    padding-left: 2%;
    background-color: PaleTurquoise;
    justify-content: flex-start;
    float: left;
}
#page > #buttonswtext {
    display: flex;
    flex-direction: column;
    width: 100%;
}
section,
aside,
h1,
div {
    border: none;
    padding: 1em;
    margin: 0;
    padding: 0;
}
#aside p {
    margin: 2%;
    padding: 0;
    line-height: 0;
}
#side {
    position: fixed;
}
#side > h2 {
    font-size: 20px;
}
#title {
    text-shadow: 2px 3px lightcyan;
}
#buttons {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    font-size: 20px;
    text-align: center;
    position: sticky;
    justify-content: space-evenly;
}
.button {
    border: lightcyan 2px solid;
    background-color: PaleTurquoise;
    border-radius: 7px;
    width: 100%;
    height: 100%;
}
#storytext,
#discussiontext {
    padding-left: 4%;
    padding-top: 2%;
}
#discussiontext {
    display: none;
    font-size: 15px;
}
#discussiontext ul li {
    font-size: 15px;
    display: list-item;
    list-style-type: circle;
}
#discpg,
#aboutbody,
#defpg,
#storytext,
#discussiontext{
    padding-left: 10%;
    padding-right: 10%;
}
.highlight {
    background-color: yellow;
}
.highlightlitdev {
    background-color: lightgray;
}
.highlightsetting {
    background-color: violet;
}
.highlightrace {
    background-color: crimson;
}
.highlightclass {
    background-color: darksalmon;
}
.highlightgender {
    background-color: Indianred;
}
.highlightorientation {
    background-color: salmon;
}
.highlightability {
    background-color: sandybrown;
}
.highlightcbt {
    background-color: khaki;
}
.highlightdbt {
    background-color: lemonchiffon;
}
.highlightcritThink {
    background-color: moccasin;
}
.highlightemp {
    background-color: sandybrown;
}