header {
    text-align: center;
    font-weight: bold;
}
nav {
    background-color: oldlace;
    text-align: center;
    border-style: outset;
    border-width: 2px;
    border-top-color: white;
    border-color: Moccasin;
    margin: 40px;
}
nav ul {
    margin: 0;
    padding: 0;

}
nav ul li {
    display: inline-block;
    list-style-type: none;
}
li { 
    padding-left:35px;
}

a:link {
    color: DarkBlue;
    
}
a:visited {
    color: gray
}
a:hover {
    color: Aqua;
}
a:active {
    color:BlueViolet; 
}

table {
    border-style: hidden;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

th {
    padding: 10px;
}

optgroup {
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: Moccasin;
}

div .tab{
    text-align: center;
}

body {
    background-color: floralwhite;
}

h1 {
    font-size: 36px;
}
h2 {
    font-size: 26px;
}
h3 {
    font-size: 18px;
}
p {
    font-size: 15px;
    text-indent: 50px;
}
div .bod {
    float: right;
    margin: 30%;
    text-align: left;
}
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.accordion {
  background-color: Moccasin;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: white;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: Moccasin;
  display: none;
  overflow: hidden;
}
.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.accord {
    text-align: right;
    width:25%;
    right:0
}